{% extends "base.html" %}

{% block title %}
Our Journey (About): Assignment Nerd
{% endblock %}

{% block content %}
<main class="about wrapper">
    <article class="block">
        <h1>Who are we..?</h1>
        <p class="content">We're a group of writers based in India.</p>
    </article>
    <article class="block">
        <h1>Our vision</h1>
        <p class="content">We sought to motivate the people to do good in academics.</p>
    </article>
    <article class="block">
        <h1>Our Journey</h1>
        <p class="content">We wandered around until we died</p>
    </article>
</main>
{% endblock %}